<link rel="stylesheet" href="style.css">
<header>Gestor de Enlaces</header>
<button (click)="goHome()" class="inicio7" >Inicio</button>
<h1>{{ link?.title }}</h1>
<p><a [href]="link?.url" target="_blank">{{ link?.url }}</a></p>
<p>Votos: {{ link?.votes }}</p>
<button (click)="vote(1)">Upvote +1</button>
<button (click)="vote(-1)">Downvote -1</button>

<h2>Comentarios ({{ link?.comments?.length }})</h2>

<!-- Mostrar comentarios -->
<div *ngFor="let comment of link?.comments; let i = index">
  <p>- {{ comment }}</p>
  <button (click)="deleteComment(i)">Eliminar</button>
</div>

<!-- Formulario para agregar un nuevo comentario -->
<textarea [(ngModel)]="newComment" placeholder="Nuevo comentario"></textarea>
<button (click)="addComment()">Agregar comentario</button>
